@page
@model Nuages.Identity.UI.Pages.Account.Manage.UsernameModel

@{
    ViewData["Title"] = Localizer["changeUsername:title"];
}

<div id="app">
    <h2 class="page-header">@Localizer["changeUsername.title"]</h2>

    <form v-on:submit.prevent="changeUsername" id="formChangeUsername">
        <fieldset :disabled="status == 'sending'" class="space-y-4">
            <span class="instructions">@Localizer["changeUsername:instructions"]</span>
            <div class="dark:text-white">
                <strong>@Localizer["changeUsername:currentUsername"]</strong>&nbsp;
                <span >{{currentUserName}}</span>
            </div>

            <div class="mb-4 p-4" v-if="status == 'done'" v-show="status == 'done'" style="display: none">
                <span class="green-success font-medium">
                    <i class="fas fa-check"></i> @Localizer["changeUsername:success"]
                </span>
            </div>

            <partial name="Shared/ErrorList"/>

            <input id="username" name="username" type="text" autofocus="" v-model="username" placeholder="@Localizer["changeUsername:newUserName"]" required class="text-box">
            <button v-on:click.prevent="changeUsername" class="primary full items-center" :disabled="status == 'sending'">
                @Localizer["changeUsername:submit"]<i class="fas fa-spinner fa-spin ml-2" v-if="status == 'sending'" v-show="status == 'sending'" style="display: none"></i>
            </button>
        </fieldset>

    </form>

</div>


@section Scripts
{
    <script>
        var usernameRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, Localizer["username"])";  
        var currentUserName = "@Model.Username";
        var xsrfToken = '@Antiforgery.GetAndStoreTokens(HttpContext).RequestToken';
    </script>
    <script src="/js/pages/manage/username.js"></script>
}