@page
@model Nuages.Identity.UI.Pages.Account.ForgotPasswordModel
@inject IOptions<Nuages.Web.Recaptcha.GoogleRecaptchaOptions> RecaptchaOptions

@{
    ViewData["Title"] = Localizer["forgotPassword:title"];
}


<partial name="Shared/ErrorList"/>

<div class="flex justify-center mt-4" >
        
    <i class="fas fa-spinner fa-spin fa-3x" v-if="status == 'sending'" v-show="status == 'sending'" style="display: none"></i>
    <div class="flex flex-col " v-if="status == 'done'" v-show="status == 'done'" style="display: none">
         <i class="fa fa-check-circle text-green-700 fa-3x text-center" ></i>
        <span class="mt-4">@Localizer["forgotPassword:seeEmail"]</span>
    </div>
       
</div>

<form class="space-y-4 mt-4" method="POST" v-on:submit.prevent="forgotPassword" id="formforgotPassword" v-if="status == ''">
    <div>
        <div>
            <span>@Localizer["forgotPassword:instructions"]</span>
        </div>
        <div class="mt-4">
            
            <input id="email" name="email" type="email" autofocus="" v-model="email" placeholder="@Localizer["email"]" required class="text-box">
        </div>
    </div>
    <div>
        <button v-on:click.prevent="forgotPassword" class="btn btn-primary">
            @Localizer["forgotPassword:reset"]
        </button>
    </div>
</form>

<script src="https://www.google.com/recaptcha/api.js?render=@RecaptchaOptions.Value.SiteKey"></script>

@section Scripts
{
    <script>
        var emailRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, Localizer["email"])";
        var emailInvalidMessage = "@Localizer["errorMessage:invalidEmail"]";
        var recaptcha = '@RecaptchaOptions.Value.SiteKey';
    </script>
    <script src="/js/pages/forgotPassword.js"></script>
}

@section MainFooter
{
    <partial name="Shared/BackToLogin"/>
}
