@page
@using Nuages.Web.Recaptcha
@model LoginWithRecoveryCodeModel
@inject IOptions<GoogleRecaptchaOptions> RecaptchaOptions
@inject IOptions<UIOptions> UIOptions

@{
    ViewData["Title"] = Localizer["recoveryCode.title"];
}

<div class="space-y-4">
    <form class="mt-4"  v-on:submit.prevent="login" id="formLogin" autocomplete=“off”>
        <fieldset class="space-y-4 " :disabled="status == 'sending'">
            <span class="instructions">@Localizer["recoveryCode.instructions"]</span>
            <partial name="Shared/ErrorList"/>
            <input id="code" name="code" type="text" autofocus="" v-model="code" placeholder="Code" required class="text-box" autocomplete=“off”>

            <button v-on:click.prevent="login" class="primary full items-center" :disabled="status == 'sending'">
                @Localizer["login:connect"]<i class="fas fa-spinner fa-spin ml-2" v-if="status == 'sending'" v-show="status == 'sending'" style="display: none"></i>
            </button>
        </fieldset>
    </form>
    <div class="mt-4">
        <partial name="Shared/_Warning" model='new { Title = Localizer["warning"], Message = Localizer["login.cantRemember"] }'/>
    </div>
    <div class="text-sm mt-4">
        <span class="instructions">@Localizer["recoveryCode.notAvailable"]</span>
        <ul class="list-disc mt-2 ml-4 dark:text-white">
            <li>
                <a id="recovery-code-login" asp-page="./LoginWith2fa" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["2fa.loginWithAuthenticator"]</a>
            </li>
          
            @if (UIOptions.Value.EnablePhoneFallback)
            {
                <li>
                    <a id="recovery-code-login" asp-page="./SendSMSCode" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["mfa.appNotAvailableSMS"]</a>
                </li>
            }
            @if (UIOptions.Value.EnableFido2)
            {
                <li>
                    <a id="recovery-code-login" asp-page="./LoginWithSecurityKey" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["loginWithSecurityKeys.title"]</a>
                </li>
            }
        </ul>
    </div>

</div>

@section MainFooter
{
    <div class="mt-4">
        <a  asp-page="/Account/Login" asp-route-returnUrl="@Model.ReturnUrl"><i class="fas fa-angle-left"></i>&nbsp;@Localizer["login.back"]</a>
    </div>
}

@section Scripts
{
    <script>
       
        var codeRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, "Code")";
        var recaptcha = '@RecaptchaOptions.Value.SiteKey';
        var returnUrl = '@Html.Raw(Model.ReturnUrl)';
        var xsrfToken = '@Antiforgery.GetAndStoreTokens(HttpContext).RequestToken';
    </script>

    <script src="/js/pages/loginWithRecoveryCode.js"></script>
}