@page
@model Nuages.Identity.UI.Pages.Account.Login
@inject IOptions<Nuages.Web.Recaptcha.GoogleRecaptchaOptions> RecaptchaOptions
@inject IOptions<UIOptions> UIOptions

@{
    ViewBag.Title = Localizer["login:title"];
    ViewBag.ShowRegistration = UIOptions.Value.ShowRegistration;
    ViewBag.RegistrationUrl = UIOptions.Value.RegistrationUrl;
}

@section Header
{
    @if (ViewBag.ShowRegistration)
    {
        <div class="sm:mx-auto sm:w-full sm:max-w-md">

            <p class="mt-2 text-center text-sm text-gray-600">
                @Localizer["or"]
                <a href="@ViewBag.RegistrationUrl" class="font-medium text-indigo-600 hover:text-indigo-500">
                    @Localizer["register.title"]
                </a>
            </p>

        </div>
    }
}

<partial name="Shared/ErrorList"/>

<form class="space-y-4 mt-4" method="POST" v-on:submit.prevent="login" id="formLogin" autocomplete=“off”>
    <div>
        <div class="mt-1">
            <input id="userNameOrEmail" name="userNameOrEmail" type="text" autofocus="" v-model="userNameOrEmail" placeholder="@Model.UserNamePlaceHolder" required class="text-box" autocomplete=“off”>
        </div>
    </div>
    <div>
        <div class="mt-1">
            <input id="password" name="password" type="password" v-model="password" placeholder="@Localizer["login:password"]" autocomplete="current-password" required class="text-box ">
        </div>
    </div>

    <div class="flex items-center justify-between">
        <div class="flex items-center">
            <input id="remember-me" name="remember-me" v-model="remember" type="checkbox" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
            <label for="remember-me" class="ml-2 block text-sm text-gray-900">
                @Localizer["login:rememberMe"]
            </label>
        </div>

        <div class="text-sm">
            <a href="/account/forgotpassword">
                @Localizer["login:forgotPassword"]
            </a>
        </div>
    </div>

    <div>
        <button v-on:click.prevent="login" class="btn btn-primary">
            @Localizer["login:connect"]
        </button>
    </div>
</form>


<script src="https://www.google.com/recaptcha/api.js?render=@RecaptchaOptions.Value.SiteKey"></script>

@section Scripts
{
    <script>
        var emailRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, Model.UserNamePlaceHolder)";
        var passwordRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, Localizer["login:password"])";
        var emailInvalidMessage = "@Localizer["errorMessage:invalidEmail"]";
        var recaptcha = '@RecaptchaOptions.Value.SiteKey';
        var returnUrl = '@Html.Raw(Model.ReturnUrl)';
    </script>

    <script src="/js/pages/login.js"></script>
}