@page
@using Nuages.Web.Recaptcha
@model SMSLoginModel
@inject IOptions<GoogleRecaptchaOptions> RecaptchaOptions

@{
    ViewData["Title"] = Localizer["loginWithSMS.title"];
}

<div >
    <form class=" mt-4" method="POST" v-on:submit.prevent="login" id="formLogin" autocomplete=“off”>
        <fieldset class="space-y-4" :disabled="status == 'sending'">
            <span class="instructions">@Localizer["loginWithSMS.instructions"]</span>
            <partial name="Shared/ErrorList"/>
            <input id="code" name="code" type="text" autofocus="" v-model="code" placeholder="Code" required class="text-box" autocomplete=“off”>

            <button v-on:click.prevent="login" class="primary full items-center" :disabled="status == 'sending'">
                @Localizer["loginWithSMS:connect"]<i class="fas fa-spinner fa-spin ml-2" v-if="status == 'sending'" v-show="status == 'sending'" style="display: none"></i>
            </button>

        </fieldset>

    </form>
    <div class="mt-4">
        <partial name="Shared/_Warning" model='new { Title = Localizer["warning"], Message = Localizer["login.cantRemember"] }'/>
    </div>
</div>

@section MainFooter
{
    <partial name="Shared/BackToLogin"/>
}

@section Scripts
{
    <script>
       
        var codeRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, "Code")";
        var recaptcha = '@RecaptchaOptions.Value.SiteKey';
        var returnUrl = '@Html.Raw(Model.ReturnUrl)';
    </script>

    <script src="/js/pages/LoginWithSMS.js"></script>
}