@page
@model LoginWith2faModel
@inject IOptions<Nuages.Web.Recaptcha.GoogleRecaptchaOptions> RecaptchaOptions

@{
    ViewData["Title"] = Localizer["mfa.title"];
}


<div >
    <form class=" mt-4" method="POST" v-on:submit.prevent="login" id="formLogin" autocomplete=“off”>
        <fieldset class="space-y-4">
            <span>@Localizer["mfa.instructions"]</span>
            <partial name="Shared/ErrorList"/>
            <input id="code" name="code" type="text" autofocus="" v-model="code" placeholder="Code" required class="text-box" autocomplete=“off”>
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <input id="rememberMachine" name="rememberMachine" v-model="rememberMachine" type="checkbox" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
                    <label for="rememberMachine" class="ml-2 block text-sm text-gray-900">
                        @Localizer["mfa:rememberMachine"]
                    </label>
                </div>
            </div>
            <button v-on:click.prevent="login" class="primary full items-center" :disabled="status == 'sending'">
                @Localizer["login:connect"]<i class="fas fa-spinner fa-spin ml-2" v-if="status == 'sending'" v-show="status == 'sending'" style="display: none"></i>
            </button>
        </fieldset>

    </form>
    <div class="text-sm mt-4">
        <span>@Localizer["mfa.appNotAvailable"]</span>
        <ul class="list-disc mt-2 ml-4">
            <li>
                <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["mfa.appNotAvailableRecoveryCodes"]</a>
            </li>
            <li>
                <a id="recovery-code-login" asp-page="./SendSMSCode" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["mfa.appNotAvailableSMS"]</a>
            </li>
        </ul>
    </div>
</div>

@section MainFooter
{
    <partial name="Shared/BackToLogin"/>
}

@section Scripts
{
    <script>
       
        var codeRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, "Code")";
        var recaptcha = '@RecaptchaOptions.Value.SiteKey';
        var returnUrl = '@Html.Raw(Model.ReturnUrl)';
        var rememberMe = @Model.RememberMe.ToString().ToLower();
    </script>

    <script src="/js/pages/loginWith2fa.js"></script>
}