@using Nuages.Identity.Services.AspNetIdentity
@using Nuages.AspNetIdentity
@inject NuagesUserManager UserManager

<div class="rounded-md bg-blue-50  p-4">
    <div class="flex">
        <div class="flex-shrink-0">
            <!-- Heroicon name: solid/exclamation -->

        </div>
        <div class="ml-3">
            <h3 class="text-sm font-medium text-blue-800">
                @Localizer["passwordRequirement:title"]
            </h3>
            <div class="mt-2 text-sm text-blue-700">

                <ul role="list" class="list-disc pl-5 space-y-1">
                    <li>
                        @Localizer.GetString("passwordRequirement:RequiredLength", UserManager.Options.Password.RequiredLength)
                    </li>
                    @if (UserManager.Options.Password.RequireDigit)
                    {
                        <li>@Localizer["passwordRequirement:RequireDigit"]</li>
                    }
                    @if (UserManager.Options.Password.RequireLowercase)
                    {
                        <li>@Localizer["passwordRequirement:RequireLowercase"]</li>
                    }
                    @if (UserManager.Options.Password.RequireUppercase)
                    {
                        <li>@Localizer["passwordRequirement:RequireUppercase"]</li>
                    }
                    @if (UserManager.Options.Password.RequireNonAlphanumeric)
                    {
                        <li>@Localizer["passwordRequirement:RequireNonAlphanumeric"]</li>
                    }
                    @if (UserManager.Options.Password.RequiredUniqueChars > 1)
                    {
                        <li>@Localizer.GetString("passwordRequirement:RequiredUniqueChars", UserManager.Options.Password.RequiredUniqueChars)</li>
                    }
                </ul>

            </div>
        </div>
    </div>
</div>