@using Nuages.Web.Recaptcha
@using Nuages.Identity.Services.AspNetIdentity
@inject IOptions<GoogleRecaptchaOptions> RecaptchaOptions
@inject IOptions<NuagesIdentityOptions> IdentityOptions
@inject IOptions<UIOptions> UIOptions

<!DOCTYPE html>
<html lang="en"  >
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - @IdentityOptions.Value.Name</title>

    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/tailwind-output.css"/>
    <script src="@UIOptions.Value.FontAwesomeUrl" crossorigin="anonymous"></script>

    <script src="https://www.google.com/recaptcha/api.js?render=@RecaptchaOptions.Value.SiteKey"></script>
</head>
<body >

<div class=" min-h-screen bg-gray-100 dark:bg-slate-900 flex flex-col justify-start py-12 sm:px-6 lg:px-8 " id="app">
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white dark:bg-slate-900 py-8 px-4 shadow sm:rounded-lg sm:px-10 dark:border dark:border-slate-700">
            <partial name="Shared/LogoHeader"/>
            @RenderSection("Header", false)
            @RenderBody()
            @RenderSection("Footer", false)
        </div>
        @RenderSection("MainFooter", false)
    </div>
</div>

<environment names="Production">
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
</environment>
<environment names="Development">
    <script src="https://unpkg.com/vue@3"></script>
</environment>

@RenderSection("Scripts", false)

</body>
</html>