<ul class=" list-inside space-y-2">
                  
    <li> <a href="~/account/manage/changePassword">@Localizer["changePassword:title"]</a></li>
    <li> <a href="~/account/manage/email">@Localizer["changeEmail:title"]</a></li>
    <li> <a href="~/account/manage/username">@Localizer["changeUsername:title"]</a></li>
    <li> <a href="~/account/manage/twoFactorAuthentication">@Localizer["mfa:title"]</a></li>
    <li> <a href="~/account/manage/externalLogins">@Localizer["externalLogin:shortTitle"]</a></li>
    <li> <a href="~/account/manage/profile">@Localizer["profile:title"]</a></li>
</ul>