@page

@model ChangePasswordModel
@{
    ViewData["Title"] = Localizer["changePassword:title"];
}

<div id="app">
    <h2 class="page-header">@Localizer["changePassword:title"]</h2>

    <form  v-on:submit.prevent="changePassword" id="formChangePassword">
        <fieldset :disabled="status == 'sending'" class="space-y-4">
            <span class="instructions">@Localizer["changePassword:instructions"]</span>

            <div class="mb-4 p-4" v-if="status == 'done'" v-show="status == 'done'" style="display: none">
                <span class="green-success font-medium">
                    <i class="fas fa-check"></i> @Localizer["changePassword:success"]
                </span>
            </div>

            <partial name="Shared/ErrorList"/>

            <input id="currentPassword" name="currentPassword" type="password" v-model="currentPassword" placeholder="@Localizer["changePassword:currentPassword"]" autocomplete="current-password" required class="text-box ">
            <input id="password" name="password" type="password" v-model="password" placeholder="@Localizer["changePassword:password"]" autocomplete="current-password" required class="text-box ">
            <input id="passwordConfirm" name="passwordConfirm" type="password" v-model="passwordConfirm" placeholder="@Localizer["changePassword:passwordConfirm"]" autocomplete="current-password" required class="text-box ">
            <button v-on:click.prevent="changePassword" class="primary full items-center" :disabled="status == 'sending'">
                @Localizer["changePassword:submit"]<i class="fas fa-spinner fa-spin ml-2" v-if="status == 'sending'" v-show="status == 'sending'" style="display: none"></i>
            </button>
        </fieldset>

    </form>
</div>

@section RightNav
{
    <partial name="Shared/PasswordRequirements"/>
}

@section Scripts
{
    <script>
        var currentPasswordRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, Localizer["changePassword:currentPassword"])";
        var passwordRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, Localizer["changePassword:password"])";
        var passwordConfirmRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, Localizer["changePassword:passwordConfirm"])";
        var xsrfToken = '@Antiforgery.GetAndStoreTokens(HttpContext).RequestToken';
    </script>

    <script src="/js/pages/manage/changePassword.js"></script>
}