@page

@model ChangePasswordModel
@{
    ViewData["Title"] = Localizer["changePassword:submit"];
    Layout = "_LayoutSettings";
}

<div id="app">
    <div class="flex justify-center mt-6">
        <i class="fas fa-spinner fa-spin fa-3x" v-if="status == 'sending'" v-show="status == 'sending'" style="display: none"></i>
        <div class="flex flex-col " v-if="status == 'done'" v-show="status == 'done'" style="display: none">
            <i class="fa fa-check-circle text-green-700 fa-3x text-center"></i>
            <span class="mt-4">@Localizer["changePassword:success"]</span>
        </div>
    </div>
    
    <form class="space-y-4 mt-4" method="POST" v-on:submit.prevent="changePassword" id="formChangePassword" v-if="status != 'sending' && status != 'done'">
        <span>@Localizer["changePassword:instructions"]</span>
        <partial name="Shared/ErrorList"/>
       
        <input id="currentPassword" name="currentPassword" type="password" v-model="currentPassword" placeholder="@Localizer["changePassword:currentPassword"]" autocomplete="current-password" required class="text-box ">
        <input id="password" name="password" type="password" v-model="password" placeholder="@Localizer["changePassword:password"]" autocomplete="current-password" required class="text-box ">
        <input id="passwordConfirm" name="passwordConfirm" type="password" v-model="passwordConfirm" placeholder="@Localizer["changePassword:passwordConfirm"]" autocomplete="current-password" required class="text-box ">
        <button v-on:click.prevent="changePassword" class="btn btn-primary">
            @Localizer["changePassword:submit"]
        </button>
        <partial name="Shared/PasswordRequirements"/>
    </form>
</div>


@section Scripts
{
    <script>
        var currentPasswordRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, Localizer["changePassword:currentPassword"])";
        var passwordRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, Localizer["changePassword:password"])";
        var passwordConfirmRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, Localizer["changePassword:passwordConfirm"])";
    
    </script>

    <script src="/js/pages/manage/changePassword.js"></script>
}