@page
@model Nuages.Identity.UI.Pages.Account.Manage.PhoneModel

@{
    ViewData["Title"] = Localizer["addPhone:title"];
}

<div id="app">
    <h2 class="page-header">@Localizer["addPhone.title"]</h2>

    <form method="POST" v-on:submit.prevent="addPhone" id="formAddPhone">
        <fieldset :disabled="status == 'sending'" class="space-y-4">
            <div class="mb-4 p-4" v-if="status == 'done'" v-show="status == 'done'" style="display: none">
                <span class="green-success font-medium">
                    <i class="fas fa-check"></i> @Localizer["addPhone:success"]
                </span>
            </div>

            <partial name="Shared/ErrorList"/>

            <div v-if="status == '' || status == 'sending'" class="space-y-4">
                <span class="text-gray-500">@Localizer["addPhone:instructions"]</span>
                <select v-model="dialCode">
                    @foreach (var c in Model.Codes)
                    {
                        <option value="@c.dial_code">@(c.name + " (" + c.dial_code + ")")</option>
                    }

                </select>

                <input id="phone" name="phone" type="text" autofocus="" v-model="phone" placeholder="@Localizer["addPhone:newPhoneNumber"]" required class="text-box">
                <button v-on:click.prevent="sendPhoneChangeMessage" class="primary full" :disabled="status == 'sending'">
                    @Localizer["addPhone:sendMessage"]<i class="fas fa-spinner fa-spin ml-2" v-if="status == 'sending'" v-show="status == 'sending'" style="display: none"></i>
                </button>
            </div>

            <div v-if="status == 'sent'" v-show="status == 'sent'" class="space-y-4" style="display: none">
                <span class="text-gray-500 ">@Localizer["addPhone:instructions2"]</span>
                <input id="code" name="code" type="text" autofocus="" v-model="code" placeholder="@Localizer["addPhone:code"]" required class="text-box">
                <button v-on:click.prevent="addPhone" class="primary full" :disabled="status == 'sending'">
                    @Localizer["addPhone:submit"]<i class="fas fa-spinner fa-spin ml-2" v-if="status == 'sending'" v-show="status == 'sending'" style="display: none"></i>
                </button>
            </div>
        </fieldset>

    </form>
</div>


@section Scripts
{
    <script>
        var phoneRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, Localizer["addPhone:newPhoneNumber"])";  
        var codeRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, "Code")";  
         
    </script>
    <script src="/js/pages/manage/phone.js"></script>
}