@page
@model Nuages.Identity.UI.Pages.Account.Manage.SecurityKeyModel

@{
    ViewData["Title"] = Localizer["addSecurityKey:title"];
}

<div id="app">
    <h2 class="page-header">@Localizer["addSecurityKey.title"]</h2>

    <form method="POST" v-on:submit.prevent="addSecurityKey" id="formAddSecurityKey">
        <fieldset  class="space-y-4">
            <div class="mb-4 p-4" v-if="status == 'done'" v-show="status == 'done'" style="display: none">
                <span class="green-success font-medium">
                    <i class="fas fa-check"></i> @Localizer["addSecurityKey:success"]
                </span>
            </div>

            <div class="mb-4 p-4" v-if="status == 'registering'" v-show="status == 'registering'" style="display: none">
                <span class="text-3xl dark:text-white">
                    <i class="fas fa-spinner fa-spin"></i> @Localizer["addSecurityKey:waiting"]
                </span>
            </div>
            
            <partial name="Shared/ErrorList"/>

            <div  class="space-y-4" v-if="status == ''">
                <span class="instructions">@Localizer["addSecurityKey:instructions"]</span>
                <input id="nickname" name="nickname" type="text" autofocus="" v-model="nickname" placeholder="@Localizer["addSecurityKey:nickName"]" required class="text-box">
                <button v-on:click.prevent="addSecurityKey" class="primary full" >
                    @Localizer["addSecurityKey:addKey"]
                </button>
            </div>
        </fieldset>

    </form>
</div>


@section Scripts
{
    
    <script>
     var nickNameRequiredMessage = "@string.Format(Localizer["addSecurityKey.nickNameRequiredMessage"])";  
    var userName = "@Model.Username";
    </script>
    
    <script src="/js/pages/fido2/helpers.js"></script>
    <script src="/js/pages/fido2/mfa.register.js"></script>
    <script src="/js/pages/manage/securityKey.js"></script>
}