@page

@model SetPasswordModel
@{
    ViewData["Title"] = Localizer["setPassword:submit"];
}

<div id="app">
    <h2 class="page-header">@Localizer["setPassword.title"]</h2>

    <form class="space-y-4" method="POST" v-on:submit.prevent="setPassword" id="formSetPassword">
        <span class="instructions">@Localizer["setPassword:instructions"]</span>
        <partial name="Shared/ErrorList"/>
        <div class="mb-4 p-4" v-if="status == 'done'" v-show="status == 'done'" style="display: none">
            <span class="green-success font-medium">
                <i class="fas fa-check"></i> @Localizer["setPassword:success"]
            </span>
        </div>
        <fieldset class="space-y-4" :disabled="status == 'sending'" v-if="status != 'done'">
            <input id="password" name="password" type="password" v-model="password" placeholder="@Localizer["setPassword:password"]" autocomplete="current-password" required class="text-box ">
            <input id="passwordConfirm" name="passwordConfirm" type="password" v-model="passwordConfirm" placeholder="@Localizer["setPassword:passwordConfirm"]" autocomplete="current-password" required class="text-box ">
            <button v-on:click.prevent="setPassword" class="primary full items-center" :disabled="status == 'sending'">
                @Localizer["setPassword:submit"]<i class="fas fa-spinner fa-spin ml-2" v-if="status == 'sending'" v-show="status == 'sending'" style="display: none"></i>
            </button>
        </fieldset>


    </form>
</div>

@section RightNav
{
    <partial name="Shared/PasswordRequirements"/>
}

@section Scripts
{
    <script>
        var passwordRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, Localizer["setPassword:password"])";
        var passwordConfirmRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, Localizer["setPassword:passwordConfirm"])";
    
    </script>

    <script src="/js/pages/manage/setPassword.js"></script>
}