@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = Localizer["2fa:title"];
}

<div id="app" class="flex flex-col space-y-6">
    <h2 class="page-header">@Localizer["2fa.title"]</h2>
    
    <span>@Localizer["2fa.instructions"]</span>
    @if (Model.Is2FaEnabled)
    {
        <div>
            <span>@Localizer["2fa.active"]</span>&nbsp;<a class="btn btn-primary">@Localizer["2fa.deactivate"]</a>
        </div>
        
        
        @if (Model.IsMachineRemembered)
        {
            <a>@Localizer["2fa.forgetMachine"]</a>
        }
       
        
        <span>@Model.RecoveryCodesLeft @Localizer["2fa.codesRemaining"]</span>
    }
    else
    {
        <div>
            <span>@Localizer["2fa.inactive"]&nbsp;</span> <a>@Localizer["2fa.activate"]</a>
        </div>
    }
   
</div>

@section Scripts {
     <script src="/js/pages/manage/2fa.js"></script>
}
