@page
@using Nuages.Web.Recaptcha
@model ExternalLoginModel
@inject IOptions<GoogleRecaptchaOptions> RecaptchaOptions

@{
    ViewData["Title"] = Localizer["externalLogin:title"];
}


<div class="mb-4 p-4" v-if="status == 'done'" v-show="status == 'done'" style="display: none">
    <span class="green-success font-medium">
        <i class="fas fa-check"></i> @Localizer["register:accountCreated"]
    </span>
</div>


<div v-show="status != 'sending'">
    <partial name="Shared/ErrorList"/>
</div>

@if (string.IsNullOrEmpty(Model.ErrorMessage))
{
    <form id="formExternalLogin" class=" mt-4"  v-on:submit.prevent="externalLogin" v-if="status != 'done'">
        <fieldset class="space-y-4" :disabled="status == 'sending'">
            <span class="instructions"> @Localizer["externalLogin:instructions"]</span> <strong>@Model.ProviderDisplayName.</strong>
            <span class="mt-2 instructions"> @Localizer["externalLogin:instructions2"]</span>
            <input id="email" name="email" type="hidden" autofocus="" v-model="email" placeholder="@Localizer["email"]" required class="text-box">
            <button v-on:click.prevent="externalLogin" class="primary full items-center" :disabled="status == 'sending'">
                @Localizer["externalLogin:button"]<i class="fas fa-spinner fa-spin ml-2" v-if="status == 'sending'" v-show="status == 'sending'" style="display: none"></i>
            </button>
        </fieldset>
    </form>
}
else
{
    <ul class="text-red-800 mb-3">
        <li class="flex">
            <i class="fas fa-exclamation-circle dark:text-red-500 text-red-700 hover:text-red-700 mt-1 mb-2"></i>
            <div class="ml-2 mr-2 mb-2">
                @Model.ErrorMessage
            </div>
        </li>
    </ul>
}

@section Scripts
{
    <script>
        var recaptcha = '@RecaptchaOptions.Value.SiteKey';
        var returnUrl = '@Html.Raw(Model.ReturnUrl)';
        var emailInitialValue = '@ViewData["email"]'
        var xsrfToken = '@Antiforgery.GetAndStoreTokens(HttpContext).RequestToken';
    </script>

    <script src="/js/pages/externalLogin.js"></script>
}

@section MainFooter
{
    <partial name="Shared/BackToLogin"/>
}