@page
@using Nuages.Web.Recaptcha
@model Nuages.Identity.UI.Pages.Account.ForgotPasswordModel
@inject IOptions<GoogleRecaptchaOptions> RecaptchaOptions

@{
    ViewData["Title"] = Localizer["forgotPassword:title"];
}


<div class="mb-4 p-4" v-if="status == 'done'" v-show="status == 'done'" style="display: none">
    <span class="green-success font-medium">
        <i class="fas fa-check"></i> @Localizer["forgotPassword:seeEmail"]
    </span>
</div>

<form class="space-y-4 mt-4"  v-on:submit.prevent="forgotPassword" id="formforgotPassword" v-if="status != 'done'">
    <span class="instructions">@Localizer["forgotPassword:instructions"]</span>


    <partial name="Shared/ErrorList"/>
    <fieldset class="space-y-4" :disabled="status == 'sending'">
        <input id="email" name="email" type="email" autofocus="" v-model="email" placeholder="@Localizer["yourEmail"]" required class="text-box">
        <button v-on:click.prevent="forgotPassword" class="primary full" :disabled="status == 'sending'">
            @Localizer["forgotPassword:reset"]<i class="fas fa-spinner fa-spin ml-2" v-if="status == 'sending'" v-show="status == 'sending'" style="display: none"></i>
        </button>
    </fieldset>

</form>

@section Scripts
{
    <script>
        var emailRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, Localizer["email"])";
        var emailInvalidMessage = "@Localizer["errorMessage:invalidEmail"]";
        var recaptcha = '@RecaptchaOptions.Value.SiteKey';
        var xsrfToken = '@Antiforgery.GetAndStoreTokens(HttpContext).RequestToken';
    </script>
    <script src="/js/pages/forgotPassword.js"></script>
}

@section MainFooter
{
    <partial name="Shared/BackToLogin"/>
}