@page
@using Nuages.Web.Recaptcha
@using Nuages.Identity.UI.Setup
@model LoginWithSecurityKeyModel
@inject IOptions<GoogleRecaptchaOptions> RecaptchaOptions
@inject IOptions<UIOptions> UIOptions

@{
    ViewData["Title"] = Localizer["mfa.title"];
}

<div>
    <form class="mt-4"  id="formLogin" autocomplete=“off”>
        <div class="mb-4 p-4" v-if="status == 'done'" v-show="status == 'done'" style="display: none">
            <span class="green-success font-medium">
                <i class="fas fa-check"></i> @Localizer["loginWithSecurityKeys:success"]
            </span>
        </div>
        <div class="mb-4 p-4" v-if="status == 'waiting'" v-show="status == 'waiting'" style="display: none">
            <span class="text-2xl dark:text-white">
                <i class="fas fa-spinner fa-spin"></i> @Localizer["loginWithSecurityKeys:waiting"]
            </span>
        </div>
        <partial name="Shared/ErrorList"/>
        
        <div v-if="errors.length > 0" v-show="errors.length > 0" style="display: none">
              <div class="text-red-600 text-center m-4">
                    <button type="button" class="primary" v-on:click="retry">@Localizer["loginWithSecurityKeys.retry"]</button>
                </div>
        </div>
    </form>
    
    <div class="text-sm mt-4">
        <span class="instructions">@Localizer["loginWithSecurityKeys.notAvailable"]</span>
        <ul class="list-disc mt-2 ml-4 dark:text-white">
            <li>
                <a id="recovery-code-login" asp-page="./LoginWith2fa" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["2fa.loginWithAuthenticator"]</a>
            </li>
            <li>
                <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["mfa.appNotAvailableRecoveryCodes"]</a>
            </li>
            @if (UIOptions.Value.EnablePhoneFallback)
            {
                <li>
                    <a id="recovery-code-login" asp-page="./SendSMSCode" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["mfa.appNotAvailableSMS"]</a>
                </li>
            }
        </ul>
    </div>
</div>

@section MainFooter
{
    <div class="mt-4">
        <a  asp-page="/Account/Login" asp-route-returnUrl="@Model.ReturnUrl"><i class="fas fa-angle-left"></i>&nbsp;@Localizer["login.back"]</a>
    </div>
}

@section Scripts
{
    <script>
        var codeRequiredMessage = "@string.Format(Localizer["errorMessage:required"]!, "Code")";
        var recaptchaToken = '@RecaptchaOptions.Value.SiteKey';
        var returnUrl = '@Html.Raw(Model.ReturnUrl)';
        var returnUrlEncoded = '@System.Net.WebUtility.UrlEncode(Model.ReturnUrl)';
        var rememberMe = @Model.RememberMe.ToString().ToLower();
        var userName = "@Model.Username";
        var xsrfToken = '@Antiforgery.GetAndStoreTokens(HttpContext).RequestToken';
        var unableToReadKey = "@Localizer["loginWithSecurityKeys:unableToReadKey"]";
        
    </script>

    <script src="/js/pages/fido2/helpers.js"></script>
    <script src="/js/pages/fido2/mfa.login.js"></script>
    <script src="/js/pages/loginWithSecurityKeys.js"></script>
}